.DS_STORE
.obsidian/
.Rproj.user
/bin/
/Secondo Anno/Statistica/presentazione/pulizia_tempi/fastf1_cache/*
/Secondo Anno/Secondo_Semestre/Sys_artificiali/*.mp4
/Secondo Anno/Secondo_Semestre/Basi_dati/*.pdf
